[core]
	editor = nano
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Emmanuel Roussel
	email = emmanuel@emroussel.xyz
[pretty]
	lg = %C(red)%h%C(reset) %C(green)%cd%C(reset) %s %C(blue)<%an>%C(reset) %C(green)%cr%C(reset)%C(yellow)%d%C(reset)
[alias]
	lg = log --date=format:'%d %b %Y %H:%M' --pretty=lg
